body {
  margin: 0;
}

div, input, textarea {
  box-sizing: border-box;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align:center
}

.main-item {
  width: 25%;
  padding: 10px;
}
.main-background {
  width: 100%;
  height: 500px;
  background-image: url('/public/images/backgrounds/shoes.jpg'), url('/public/images/backgrounds/jeans.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  text-align: center;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 10%;
}

.main-content {
  color: white;
  font-size: 20px;
}

.main-button {
  padding: 15px;
  background-color: #f8f9fa;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* .main-cover {
  background-color: grey;
  width: 70%;
  padding: 2%;
  height: 250;
  margin: auto;
  margin-top: auto;
  text-align: center;
  position: relative;
  top: -30px;
} */

.main-cover {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}

input, textarea {
  width: 100%;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.contact-container {
  width: 100%;
  max-width: 800px;
  height: 800px;
  margin: auto;
  background-color:grey;
  position: relative;
}

.contact-box {
  width: 60%;
  height: 80%;
  padding: 5% 3%;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.w-50 {
  width: 50%;
  padding: 10px;
  float: left;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.w-70 {
  width: 70%;
  padding: 10px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.w-30 {
  width: 30%;
  padding: 10px;
  float: left;
}

label {
  margin-left: 10px;
}

.contact-button {
  width: 100%;
  background-color: gold;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

ul {
  list-style-type:none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
li {
  padding: 10px;
}

.logo-li {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 30px;
  }
  li {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .main-item {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .main-item {
    width: 100%;
  }
}