div {
  box-sizing: border-box;
}

h4 {
  margin: 10px 0;
}

.cart-container {
  width: 100%;
  max-width: 800px;
  background-color: cadetblue;
  padding: 2% 8%;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 2%;
  background-color: white;
}

.cart-table td,
.cart-table th {
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 10px;
}

.cart-table tr:last-child td {
  border-bottom: none;
}

th {
  vertical-align: middle;
  text-align: center;
}

td > img {
  width: 100px;
  height: 100px;
}

tbody > tr > td:nth-child(3) {
  text-align: end;
}

td[colspan="5"] {
  text-align: end;
}

.cart-edit {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

button {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.home-cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.home-cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: white;
  border-radius: 10px;
}

.home-cart-table td, .home-cart-table th {
  padding: 15px;
  border-bottom : 1px solid #c2d3de;
}

.home-cart-table th:nth-child(2) {
  width: 400px;
}